[submodule "roles/webapp"]
	path = roles/webapp
	url = https://github.com/louismichel100/role_webapp.git

[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/louismichel100/role_nginxx.git

[submodule "roles/nginx/systemd"]
	path = roles/nginx/systemd
	url = https://github.com/systemd/systemd.git
